doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://unpkg.com/x-data-spreadsheet@1.1.5/dist/xspreadsheet.css")
    
  body(onload="load()")
    block content
